In [1]:
# Importing Libraries
import numpy as np
import pandas as pd

In [3]:
# reading City_Data Dataset
df1 = pd.read_csv('dataset/city_data.csv')
df1.head()

   year     city        country  avg_temp
0  1849  Abidjan  Côte D'Ivoire     25.58
1  1850  Abidjan  Côte D'Ivoire     25.52
2  1851  Abidjan  Côte D'Ivoire     25.67
3  1852  Abidjan  Côte D'Ivoire       NaN
4  1853  Abidjan  Côte D'Ivoire       NaN

In [4]:
# Replacing "" value for Nan
df1.replace("",np.nan)

       year     city        country  avg_temp
0      1849  Abidjan  Côte D'Ivoire     25.58
1      1850  Abidjan  Côte D'Ivoire     25.52
2      1851  Abidjan  Côte D'Ivoire     25.67
3      1852  Abidjan  Côte D'Ivoire       NaN
4      1853  Abidjan  Côte D'Ivoire       NaN
5      1854  Abidjan  Côte D'Ivoire       NaN
6      1855  Abidjan  Côte D'Ivoire       NaN
7      1856  Abidjan  Côte D'Ivoire     26.28
8      1857  Abidjan  Côte D'Ivoire     25.17
9      1858  Abidjan  Côte D'Ivoire     25.49
10     1859  Abidjan  Côte D'Ivoire     25.92
11     1860  Abidjan  Côte D'Ivoire     25.46
12     1861  Abidjan  Côte D'Ivoire     25.67
13     1862  Abidjan  Côte D'Ivoire     25.17
14     1863  Abidjan  Côte D'Ivoire       NaN
15     1864  Abidjan  Côte D'Ivoire       NaN
16     1865  Abidjan  Côte D'Ivoire       NaN
17     1866  Abidjan  Côte D'Ivoire       NaN
18     1867  Abidjan  Côte D'Ivoire       NaN
19     1868  Abidjan  Côte D'Ivoire       NaN
20     1869  Abidjan  Côte D'Ivoire       NaN
21     1870  Abidjan  Côte D'Ivoire       NaN
22     1871  Abidjan  Côte D'Ivoire       NaN
23     1872  Abidjan  Côte D'Ivoire       NaN
24     1873  Abidjan  Côte D'Ivoire     25.62
25     1874  Abidjan  Côte D'Ivoire     25.68
26     1875  Abidjan  Côte D'Ivoire     25.25
27     1876  Abidjan  Côte D'Ivoire     25.14
28     1877  Abidjan  Côte D'Ivoire     25.85
29     1878  Abidjan  Côte D'Ivoire     25.87
...     ...      ...            ...       ...
70762  1984  Zapopan         Mexico     20.88
70763  1985  Zapopan         Mexico     20.79
70764  1986  Zapopan         Mexico     20.91
70765  1987  Zapopan         Mexico     20.94
70766  1988  Zapopan         Mexico     20.91
70767  1989  Zapopan         Mexico     21.12
70768  1990  Zapopan         Mexico     21.46
70769  1991  Zapopan         Mexico     21.20
70770  1992  Zapopan         Mexico     21.00
70771  1993  Zapopan         Mexico     21.04
70772  1994  Zapopan         Mexico     21.46
70773  1995  Zapopan         Mexico     21.50
70774  1996  Zapopan         Mexico     21.08
70775  1997  Zapopan         Mexico     20.99
70776  1998  Zapopan         Mexico     21.38
70777  1999  Zapopan         Mexico     20.86
70778  2000  Zapopan         Mexico     21.12
70779  2001  Zapopan         Mexico     21.23
70780  2002  Zapopan         Mexico     21.50
70781  2003  Zapopan         Mexico     21.51
70782  2004  Zapopan         Mexico     21.24
70783  2005  Zapopan         Mexico     21.42
70784  2006  Zapopan         Mexico     21.50
70785  2007  Zapopan         Mexico     21.35
70786  2008  Zapopan         Mexico     21.02
70787  2009  Zapopan         Mexico     21.76
70788  2010  Zapopan         Mexico     20.90
70789  2011  Zapopan         Mexico     21.55
70790  2012  Zapopan         Mexico     21.52
70791  2013  Zapopan         Mexico     22.19

[70792 rows x 4 columns]

In [29]:
# Deleting Nan rows
df1.dropna(subset = ['avg_temp'], inplace=True)
df1

       year     city        country  avg_temp
0      1849  Abidjan  Côte D'Ivoire     25.58
1      1850  Abidjan  Côte D'Ivoire     25.52
2      1851  Abidjan  Côte D'Ivoire     25.67
7      1856  Abidjan  Côte D'Ivoire     26.28
8      1857  Abidjan  Côte D'Ivoire     25.17
9      1858  Abidjan  Côte D'Ivoire     25.49
10     1859  Abidjan  Côte D'Ivoire     25.92
11     1860  Abidjan  Côte D'Ivoire     25.46
12     1861  Abidjan  Côte D'Ivoire     25.67
13     1862  Abidjan  Côte D'Ivoire     25.17
24     1873  Abidjan  Côte D'Ivoire     25.62
25     1874  Abidjan  Côte D'Ivoire     25.68
26     1875  Abidjan  Côte D'Ivoire     25.25
27     1876  Abidjan  Côte D'Ivoire     25.14
28     1877  Abidjan  Côte D'Ivoire     25.85
29     1878  Abidjan  Côte D'Ivoire     25.87
30     1879  Abidjan  Côte D'Ivoire     25.38
31     1880  Abidjan  Côte D'Ivoire     25.96
32     1881  Abidjan  Côte D'Ivoire     26.07
33     1882  Abidjan  Côte D'Ivoire     25.69
34     1883  Abidjan  Côte D'Ivoire     26.13
35     1884  Abidjan  Côte D'Ivoire     26.37
36     1885  Abidjan  Côte D'Ivoire     26.07
37     1886  Abidjan  Côte D'Ivoire     25.47
38     1887  Abidjan  Côte D'Ivoire     24.91
39     1888  Abidjan  Côte D'Ivoire     24.95
40     1889  Abidjan  Côte D'Ivoire     25.12
41     1890  Abidjan  Côte D'Ivoire     24.86
42     1891  Abidjan  Côte D'Ivoire     25.11
43     1892  Abidjan  Côte D'Ivoire     25.17
...     ...      ...            ...       ...
70762  1984  Zapopan         Mexico     20.88
70763  1985  Zapopan         Mexico     20.79
70764  1986  Zapopan         Mexico     20.91
70765  1987  Zapopan         Mexico     20.94
70766  1988  Zapopan         Mexico     20.91
70767  1989  Zapopan         Mexico     21.12
70768  1990  Zapopan         Mexico     21.46
70769  1991  Zapopan         Mexico     21.20
70770  1992  Zapopan         Mexico     21.00
70771  1993  Zapopan         Mexico     21.04
70772  1994  Zapopan         Mexico     21.46
70773  1995  Zapopan         Mexico     21.50
70774  1996  Zapopan         Mexico     21.08
70775  1997  Zapopan         Mexico     20.99
70776  1998  Zapopan         Mexico     21.38
70777  1999  Zapopan         Mexico     20.86
70778  2000  Zapopan         Mexico     21.12
70779  2001  Zapopan         Mexico     21.23
70780  2002  Zapopan         Mexico     21.50
70781  2003  Zapopan         Mexico     21.51
70782  2004  Zapopan         Mexico     21.24
70783  2005  Zapopan         Mexico     21.42
70784  2006  Zapopan         Mexico     21.50
70785  2007  Zapopan         Mexico     21.35
70786  2008  Zapopan         Mexico     21.02
70787  2009  Zapopan         Mexico     21.76
70788  2010  Zapopan         Mexico     20.90
70789  2011  Zapopan         Mexico     21.55
70790  2012  Zapopan         Mexico     21.52
70791  2013  Zapopan         Mexico     22.19

[68245 rows x 4 columns]

In [30]:
df1.dropna(subset = ['country'], inplace=True)
df1

       year     city        country  avg_temp
0      1849  Abidjan  Côte D'Ivoire     25.58
1      1850  Abidjan  Côte D'Ivoire     25.52
2      1851  Abidjan  Côte D'Ivoire     25.67
7      1856  Abidjan  Côte D'Ivoire     26.28
8      1857  Abidjan  Côte D'Ivoire     25.17
9      1858  Abidjan  Côte D'Ivoire     25.49
10     1859  Abidjan  Côte D'Ivoire     25.92
11     1860  Abidjan  Côte D'Ivoire     25.46
12     1861  Abidjan  Côte D'Ivoire     25.67
13     1862  Abidjan  Côte D'Ivoire     25.17
24     1873  Abidjan  Côte D'Ivoire     25.62
25     1874  Abidjan  Côte D'Ivoire     25.68
26     1875  Abidjan  Côte D'Ivoire     25.25
27     1876  Abidjan  Côte D'Ivoire     25.14
28     1877  Abidjan  Côte D'Ivoire     25.85
29     1878  Abidjan  Côte D'Ivoire     25.87
30     1879  Abidjan  Côte D'Ivoire     25.38
31     1880  Abidjan  Côte D'Ivoire     25.96
32     1881  Abidjan  Côte D'Ivoire     26.07
33     1882  Abidjan  Côte D'Ivoire     25.69
34     1883  Abidjan  Côte D'Ivoire     26.13
35     1884  Abidjan  Côte D'Ivoire     26.37
36     1885  Abidjan  Côte D'Ivoire     26.07
37     1886  Abidjan  Côte D'Ivoire     25.47
38     1887  Abidjan  Côte D'Ivoire     24.91
39     1888  Abidjan  Côte D'Ivoire     24.95
40     1889  Abidjan  Côte D'Ivoire     25.12
41     1890  Abidjan  Côte D'Ivoire     24.86
42     1891  Abidjan  Côte D'Ivoire     25.11
43     1892  Abidjan  Côte D'Ivoire     25.17
...     ...      ...            ...       ...
70762  1984  Zapopan         Mexico     20.88
70763  1985  Zapopan         Mexico     20.79
70764  1986  Zapopan         Mexico     20.91
70765  1987  Zapopan         Mexico     20.94
70766  1988  Zapopan         Mexico     20.91
70767  1989  Zapopan         Mexico     21.12
70768  1990  Zapopan         Mexico     21.46
70769  1991  Zapopan         Mexico     21.20
70770  1992  Zapopan         Mexico     21.00
70771  1993  Zapopan         Mexico     21.04
70772  1994  Zapopan         Mexico     21.46
70773  1995  Zapopan         Mexico     21.50
70774  1996  Zapopan         Mexico     21.08
70775  1997  Zapopan         Mexico     20.99
70776  1998  Zapopan         Mexico     21.38
70777  1999  Zapopan         Mexico     20.86
70778  2000  Zapopan         Mexico     21.12
70779  2001  Zapopan         Mexico     21.23
70780  2002  Zapopan         Mexico     21.50
70781  2003  Zapopan         Mexico     21.51
70782  2004  Zapopan         Mexico     21.24
70783  2005  Zapopan         Mexico     21.42
70784  2006  Zapopan         Mexico     21.50
70785  2007  Zapopan         Mexico     21.35
70786  2008  Zapopan         Mexico     21.02
70787  2009  Zapopan         Mexico     21.76
70788  2010  Zapopan         Mexico     20.90
70789  2011  Zapopan         Mexico     21.55
70790  2012  Zapopan         Mexico     21.52
70791  2013  Zapopan         Mexico     22.19

[68245 rows x 4 columns]

In [31]:
# Reading Global_Data Dataset
df2 = pd.read_csv('dataset/global_data.csv')
df2.head()

   year  avg_temp
0  1750      8.72
1  1751      7.98
2  1752      5.78
3  1753      8.39
4  1754      8.47

In [32]:
# Replacing "" value for Nan 
df2.replace("",np.nan)

     year  avg_temp
0    1750      8.72
1    1751      7.98
2    1752      5.78
3    1753      8.39
4    1754      8.47
5    1755      8.36
6    1756      8.85
7    1757      9.02
8    1758      6.74
9    1759      7.99
10   1760      7.19
11   1761      8.77
12   1762      8.61
13   1763      7.50
14   1764      8.40
15   1765      8.25
16   1766      8.41
17   1767      8.22
18   1768      6.78
19   1769      7.69
20   1770      7.69
21   1771      7.85
22   1772      8.19
23   1773      8.22
24   1774      8.77
25   1775      9.18
26   1776      8.30
27   1777      8.26
28   1778      8.54
29   1779      8.98
..    ...       ...
236  1986      8.83
237  1987      8.99
238  1988      9.20
239  1989      8.92
240  1990      9.23
241  1991      9.18
242  1992      8.84
243  1993      8.87
244  1994      9.04
245  1995      9.35
246  1996      9.04
247  1997      9.20
248  1998      9.52
249  1999      9.29
250  2000      9.20
251  2001      9.41
252  2002      9.57
253  2003      9.53
254  2004      9.32
255  2005      9.70
256  2006      9.53
257  2007      9.73
258  2008      9.43
259  2009      9.51
260  2010      9.70
261  2011      9.52
262  2012      9.51
263  2013      9.61
264  2014      9.57
265  2015      9.83

[266 rows x 2 columns]

In [33]:
# Deleting Nan rows in the avg_temp column
df2.dropna(subset = ['avg_temp'], inplace=True)

In [34]:
df2['city'] = 'Global'

In [35]:
df2['country'] = 'Global'

In [36]:
df2

     year  avg_temp    city country
0    1750      8.72  Global  Global
1    1751      7.98  Global  Global
2    1752      5.78  Global  Global
3    1753      8.39  Global  Global
4    1754      8.47  Global  Global
5    1755      8.36  Global  Global
6    1756      8.85  Global  Global
7    1757      9.02  Global  Global
8    1758      6.74  Global  Global
9    1759      7.99  Global  Global
10   1760      7.19  Global  Global
11   1761      8.77  Global  Global
12   1762      8.61  Global  Global
13   1763      7.50  Global  Global
14   1764      8.40  Global  Global
15   1765      8.25  Global  Global
16   1766      8.41  Global  Global
17   1767      8.22  Global  Global
18   1768      6.78  Global  Global
19   1769      7.69  Global  Global
20   1770      7.69  Global  Global
21   1771      7.85  Global  Global
22   1772      8.19  Global  Global
23   1773      8.22  Global  Global
24   1774      8.77  Global  Global
25   1775      9.18  Global  Global
26   1776      8.30  Global  Global
27   1777      8.26  Global  Global
28   1778      8.54  Global  Global
29   1779      8.98  Global  Global
..    ...       ...     ...     ...
236  1986      8.83  Global  Global
237  1987      8.99  Global  Global
238  1988      9.20  Global  Global
239  1989      8.92  Global  Global
240  1990      9.23  Global  Global
241  1991      9.18  Global  Global
242  1992      8.84  Global  Global
243  1993      8.87  Global  Global
244  1994      9.04  Global  Global
245  1995      9.35  Global  Global
246  1996      9.04  Global  Global
247  1997      9.20  Global  Global
248  1998      9.52  Global  Global
249  1999      9.29  Global  Global
250  2000      9.20  Global  Global
251  2001      9.41  Global  Global
252  2002      9.57  Global  Global
253  2003      9.53  Global  Global
254  2004      9.32  Global  Global
255  2005      9.70  Global  Global
256  2006      9.53  Global  Global
257  2007      9.73  Global  Global
258  2008      9.43  Global  Global
259  2009      9.51  Global  Global
260  2010      9.70  Global  Global
261  2011      9.52  Global  Global
262  2012      9.51  Global  Global
263  2013      9.61  Global  Global
264  2014      9.57  Global  Global
265  2015      9.83  Global  Global

[266 rows x 4 columns]

In [37]:

# Concatenating datasets
df1 = df1.append(df2, ignore_index=True)

df1.head(5)

       avg_temp     city        country  year
0         25.58  Abidjan  Côte D'Ivoire  1849
1         25.52  Abidjan  Côte D'Ivoire  1850
2         25.67  Abidjan  Côte D'Ivoire  1851
3         26.28  Abidjan  Côte D'Ivoire  1856
4         25.17  Abidjan  Côte D'Ivoire  1857
5         25.49  Abidjan  Côte D'Ivoire  1858
6         25.92  Abidjan  Côte D'Ivoire  1859
7         25.46  Abidjan  Côte D'Ivoire  1860
8         25.67  Abidjan  Côte D'Ivoire  1861
9         25.17  Abidjan  Côte D'Ivoire  1862
10        25.62  Abidjan  Côte D'Ivoire  1873
11        25.68  Abidjan  Côte D'Ivoire  1874
12        25.25  Abidjan  Côte D'Ivoire  1875
13        25.14  Abidjan  Côte D'Ivoire  1876
14        25.85  Abidjan  Côte D'Ivoire  1877
15        25.87  Abidjan  Côte D'Ivoire  1878
16        25.38  Abidjan  Côte D'Ivoire  1879
17        25.96  Abidjan  Côte D'Ivoire  1880
18        26.07  Abidjan  Côte D'Ivoire  1881
19        25.69  Abidjan  Côte D'Ivoire  1882
20        26.13  Abidjan  Côte D'Ivoire  1883
21        26.37  Abidjan  Côte D'Ivoire  1884
22        26.07  Abidjan  Côte D'Ivoire  1885
23        25.47  Abidjan  Côte D'Ivoire  1886
24        24.91  Abidjan  Côte D'Ivoire  1887
25        24.95  Abidjan  Côte D'Ivoire  1888
26        25.12  Abidjan  Côte D'Ivoire  1889
27        24.86  Abidjan  Côte D'Ivoire  1890
28        25.11  Abidjan  Côte D'Ivoire  1891
29        25.17  Abidjan  Côte D'Ivoire  1892
...         ...      ...            ...   ...
68481      8.83   Global         Global  1986
68482      8.99   Global         Global  1987
68483      9.20   Global         Global  1988
68484      8.92   Global         Global  1989
68485      9.23   Global         Global  1990
68486      9.18   Global         Global  1991
68487      8.84   Global         Global  1992
68488      8.87   Global         Global  1993
68489      9.04   Global         Global  1994
68490      9.35   Global         Global  1995
68491      9.04   Global         Global  1996
68492      9.20   Global         Global  1997
68493      9.52   Global         Global  1998
68494      9.29   Global         Global  1999
68495      9.20   Global         Global  2000
68496      9.41   Global         Global  2001
68497      9.57   Global         Global  2002
68498      9.53   Global         Global  2003
68499      9.32   Global         Global  2004
68500      9.70   Global         Global  2005
68501      9.53   Global         Global  2006
68502      9.73   Global         Global  2007
68503      9.43   Global         Global  2008
68504      9.51   Global         Global  2009
68505      9.70   Global         Global  2010
68506      9.52   Global         Global  2011
68507      9.51   Global         Global  2012
68508      9.61   Global         Global  2013
68509      9.57   Global         Global  2014
68510      9.83   Global         Global  2015

[68511 rows x 4 columns]

In [38]:
dfUK = df1[(df1['country']=='United Kingdom') | (df1['country']=='Global')]
dfUK.head(5)

      avg_temp     city         country  year
7652      8.45  Belfast  United Kingdom  1743
7653      9.15  Belfast  United Kingdom  1744
7654      4.51  Belfast  United Kingdom  1745
7655      9.22  Belfast  United Kingdom  1750
7656      8.71  Belfast  United Kingdom  1751

In [40]:
dfUK.to_csv("weather_dataset.csv", index=False, header=True)

In [48]:
dfBrazil.to_csv("weather_dataset_Brazil.csv", index=False, header=True)